body {
    margin: 0;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    background: lightgrey;
    margin: 0 auto;
    min-height: 100vh;
    grid-template-columns: 190px auto 280px;
    grid-template-rows: 120px auto 400px 120px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "subnav main aside"
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: rgba(211, 211, 211, 0.747);
}

footer {
    grid-area: footer;
    background-color: lightblue;
    margin-top: 75px;
}

aside {
    grid-area: aside;
    background-color: lightgray;
    margin-left: 10px;
}

.subnav {
    grid-area: subnav;
    background-color: rgba(113, 102, 212, 0.527);
    width: 190px;
    display: flex;
}

nav {
    grid-area: nav;
    background-color: rgba(86, 77, 167, 0.712);
    height: 75px;
}

.unseredienste {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: white;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    align-items: center;
}

.footerlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

ul {
    border: 2px solid darkgray;
    border-radius: 8px;
    font-style: italic;
}

.copyright {
    font-size: 15px;
}

.linkipaidxforthishirt {
    color: black;
}

.shirtwhite {
    margin-left: 10px;
}

.bildschwarz {
    
}



